<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>addDeleteSkels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>atlasSimbicon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>bipedStand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>dart-core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dart-optimizer-ipopt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>dart-optimizer-nlopt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>gtest_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>hardcodedDesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>hybridDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>jointConstraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>mixedChain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>operationalSpaceControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>osgAtlasPuppet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>osgDart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>osgDragAndDrop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>osgOperationalSpaceControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>osgSoftBodies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>rigidBodies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>rigidChain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>rigidCubes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>rigidLoop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>rigidShapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>simpleFrames.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>softBodies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>speedTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>testBuilding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>testCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>testCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>testCompositeResourceRetriever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>testConstraint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>testDartLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>testDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>testFileInfoWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>testForwardKinematics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>testFrames.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>testGeometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>testInverseKinematics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>testJoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>testLocalResourceRetriever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>testMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>testNameManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>testNearestNeighbor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>testOptimizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>testPackageResourceRetriever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>testSdfParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>testSignal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>testSkelParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>testSkeleton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>testSoftDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>testSubscriptions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>testUri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>testUtilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>testWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>tutorialBiped-Finished.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>tutorialBiped.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>tutorialCollisions-Finished.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>tutorialCollisions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>tutorialDominoes-Finished.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>tutorialDominoes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>tutorialMultiPendulum-Finished.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>tutorialMultiPendulum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>vehicle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06301B49C83F41619C82D639</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A619A18B0A445E8596B5C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0980E81A01C741E6AC50AE52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D776679D9FA489A8804AC8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1665F718D56A41C8878D1D49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197705AAFA5A4AE5B7765373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C54CC716F244645A5ED39C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCE365E9BA7408BAC9B82BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA8B44362E84F739D93EAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246672FD071844D6AE516FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2523E75B76DA4FA6A0FE9F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>265AFB04B0A84C48B9BC8FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267FD88599C94E14A46985A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28CEE0EAF2124044A828EEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C005B62A1744BEBAB2BE06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C9563852254F99A51A489D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33DFFEA4D2F44675896A51A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3511B82342DD4830BBDEF1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF725400EB14AD7AEA77163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E124DBC12474F1682BEEAF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB1B3674D8A453A8FBD7A52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423D8D4B8CA54BD79A43BC81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44B9F1B115984FF4A5EA2889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B26359534F4823BFD69A12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47733078F9834762AA13E8C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3D6FB2C75540FA90AE6133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF3758432F74379BC24DBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508EBD547CE24734B973C7CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CDCC1F935C4C1EA3E9E69C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62649232E0F7425F8B09DF55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6762E994F52A4A8486A53B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686E0D0EAF7846C1A7E19457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68CADD3D15814CE197154762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741F1573BB074C93A35FC8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76E37214CCB94FC6B0AFAB27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77982CAA96EC42009DB4C42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>781DD933088640CEB5EE9566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC80461A1674E1F937A53DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC800A7DBA0415A92B6B988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>813EEEDA905C486D8006D97A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>853458BD03E2468480EEA9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8852ABC298E843A992656665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2C63E3C500428B89BB38FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910B8E7E66954D71BA80966E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91A04A50226D423DB21F2B3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E2335DFA824885B443550B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9604555CE83A449EAF33BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986F302DFA7D4E06ACEEC2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3ED777FCF464D25AEF1AE2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A660B58B67724CA3925498ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74D89196F364962B3BF43F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80DA1DC3FB247A19AFAB9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8D2067C785B43F1B55D0165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90B68F2B0D34442BD2BE7E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8C4217BE0A45639486288F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4022D88C53C49CA974686DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B80778896AC144EBA3C19B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7838BC0DF94E1BAC35B3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDE30F9A369E4ECCB3F01CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B41DD2E12440B393DEEAB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C163731D155E40EDB586DF86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5013ABF3FCD49FDB121AA4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC57C0A0FCD4151B30F30B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FAC6F8F3D644D480897B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C561B2E3D74FF2AEF0E768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBD794C5093C43A6A6D2F544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9DEC3FF8A0F4CF88344D6C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21715C0E2C44F30A6B38AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9480E2682894E2E83ED1190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
