.idea/
Xcode/
build/
build_debug/
.idea/
*.pyc
syntax: glob
*.swp
*.swo
*.csv
CPack*
CTest*
Testing/
TAGS
.DS_Store
.cproject
.project
*.orig
*.idb
*.pdb
*.ncb
*.suo
*.htm
*.user
*.dep
*.manifest
*.rsp
*~
/nbproject/
/doxygen/html/
docs/readthedocs/site
